<%- include("partials/header.ejs") %>
        <div class="container">
            <div class="blog-post-form" style="padding-top:1em">
                <p style="line-height: 1.6em;">This website was created as a personal project by Aditya V Kamath. The technologies utilized to create this website are: NodeJS, ExpressJS for the server, EJS for templating, & CSS for styling.
            </div>
        </div>